<head>
    <meta charset="UTF-8">
    <title>DigiDiner</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        footer p {
            color: white !important;
        }

        footer {
            color: white !important;
        }

        footer {
            background-color: #343a40 !important;
        }
    </style>
</head>

<body>
    <header>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-bg-dark">
            <header class="mb-auto">
                <div>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold px-3" aria-current="page" href="/kitchen">Home</a>
                        <a class="nav-link fw-bold px-3" href="/clock">Clock</a>
                        <a class="nav-link fw-bold px-3" href="/orders">Orders</a>
                        <a class="nav-link fw-bold px-3" href="/inventory">Inventory</a>
                        <a class="nav-link fw-bold px-3" href="/floormap">Floor Map</a>
                    </nav>
                </div>
            </header>

            <main class="px-3 d-flex flex-column h-100 align-items-center">
                <div class="col-md-4 text-center">
                    <img src="images/profile.png" alt="Profile Picture" class="img-fluid rounded-circle mb-3"
                        style="width: 150px;">
                </div>
                <h1 class="text-center mt-3">Welcome, <%= user.firstName %>
                        <%= user.lastName %>
                </h1>
                <div class="text-center">
                    <p class="lead">User ID: <%= user.id %>
                    </p>
                    <p class="lead">Position: <%= user.position %>
                    </p>
                </div>
                <p class="text-start position-absolute top-0 start-0 m-3">Timestamp: <%= user.timestamp %>
                </p>
                <p class="lead mt-4">Cover is a one-page template for building simple and beautiful home pages.
                    Download, edit the
                    text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
                </p>
            </main>
            <hr class="section-divider">
            <footer class="py-3 my-4 text-center bg-dark">
                <p class="text-center">&copy; 2023 DigiDiner. All rights reserved.</p>
            </footer>
        </div>
        <script src="/js/bootstrap.bundle.min.js"></script>
</body>