<head>
    <meta charset="UTF-8">
    <title>DigiDiner</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div class="px-3 py-4 text-bg-dark border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="images/logoCloseup.png" alt="LogoClose" width="100" height="84">
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#home" />
                                </svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#speedometer2" />
                                </svg>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#table" />
                                </svg>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#grid" />
                                </svg>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#people-circle" />
                                </svg>
                                Customers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1>Lunch Menu</h1>
        <div class="accordion" id="menuAccordion">
            <% menuItems.forEach((item, index)=> { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= index %>">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse<%= index %>" aria-expanded="true"
                            aria-controls="collapse<%= index %>">
                            <%= item.name %>
                                <span class="badge bg-primary">$<%= item.price.toFixed(2) %></span>
                        </button>
                    </h2>
                    <div id="collapse<%= index %>" class="accordion-collapse collapse"
                        aria-labelledby="heading<%= index %>" data-bs-parent="#menuAccordion">
                        <div class="accordion-body">
                            <h5>Select Modifications:</h5>
                            <ul class="list-group">
                                <% item.modifications.forEach((modification)=> { %>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                value="<%= modification.name %>" id="<%= modification.id %>">
                                            <label class="form-check-label" for="<%= modification.id %>">
                                                <%= modification.name %>
                                                    <span class="badge bg-secondary">$<%= modification.price.toFixed(2)
                                                            %></span>
                                            </label>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <div class="container">
        <h1>Dinner Menu</h1>
        <div class="accordion" id="menuAccordion">
            <% menuItems.forEach((item, index)=> { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= index %>">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse<%= index %>" aria-expanded="true"
                            aria-controls="collapse<%= index %>">
                            <%= item.name %>
                                <span class="badge bg-primary">$<%= item.price.toFixed(2) %></span>
                        </button>
                    </h2>
                    <div id="collapse<%= index %>" class="accordion-collapse collapse"
                        aria-labelledby="heading<%= index %>" data-bs-parent="#menuAccordion">
                        <div class="accordion-body">
                            <h5>Select Modifications:</h5>
                            <ul class="list-group">
                                <% item.modifications.forEach((modification)=> { %>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                value="<%= modification.name %>" id="<%= modification.id %>">
                                            <label class="form-check-label" for="<%= modification.id %>">
                                                <%= modification.name %>
                                                    <span class="badge bg-secondary">$<%= modification.price.toFixed(2)
                                                            %></span>
                                            </label>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <div class="container">
        <h1>Drink Menu</h1>
        <div class="accordion" id="menuAccordion">
            <% menuItems.forEach((item, index)=> { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= index %>">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse<%= index %>" aria-expanded="true"
                            aria-controls="collapse<%= index %>">
                            <%= item.name %>
                                <span class="badge bg-primary">$<%= item.price.toFixed(2) %></span>
                        </button>
                    </h2>
                    <div id="collapse<%= index %>" class="accordion-collapse collapse"
                        aria-labelledby="heading<%= index %>" data-bs-parent="#menuAccordion">
                        <div class="accordion-body">
                            <h5>Select Modifications:</h5>
                            <ul class="list-group">
                                <% item.modifications.forEach((modification)=> { %>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                value="<%= modification.name %>" id="<%= modification.id %>">
                                            <label class="form-check-label" for="<%= modification.id %>">
                                                <%= modification.name %>
                                                    <span class="badge bg-secondary">$<%= modification.price.toFixed(2)
                                                            %></span>
                                            </label>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>