<style>
    .menu-header {
        font-size: 2.5rem;
    }
</style>

<style>
    .menu-header {
        font-size: 2.5rem;
    }
</style>
<style>
    .menu-header {
        font-size: 2.5rem;
    }
</style>
<div class="container">
    <h1 id="menu" class="text-center">Menu</h1>
    <br>
    <hr class="section-divider">
    <div class="row g-5">
        <div class="col-md-8">
            <div class="col-12">
                <% const menuHeaders=[ { category: 'lunch' , header: 'Lunch Menu' }, { category: 'dinner' ,
                    header: 'Dinner Menu' }, { category: 'drink' , header: 'Drink Menu' } ]; for (const [index,
                    menuHeader] of menuHeaders.entries()) { %>
                    <div class="accordion accordion-white" id="<%= menuHeader.category %>Accordion">
                        <h1 class="accordion-header menu-header" id="<%= menuHeader.category %>MenuHeader">
                            <%= menuHeader.header %>
                        </h1>
                        <div class="accordion-content" id="<%= menuHeader.category %>MenuContent">
                            <% for (const [itemIndex, item] of menuItems.entries()) { %>
                                <% if (item.category===menuHeader.category) { %>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading<%= itemIndex %>">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapse<%= itemIndex %>"
                                                aria-expanded="false" aria-controls="collapse<%= itemIndex %>">
                                                <%= item.name %>
                                                    <span class="badge bg-primary">$<%= Number(item.price).toFixed(2) %>
                                                    </span>
                                            </button>
                                        </h2>
                                        <div id="collapse<%= itemIndex %>" class="accordion-collapse collapse"
                                            aria-labelledby="heading<%= itemIndex %>"
                                            data-bs-parent="#<%= menuHeader.category %>Accordion">
                                            <% if (item.options.length> 0) { %>
                                                <h5 class="text-white">Select Options:</h5>
                                                <ul class="list-group">
                                                    <% for (const option of item.options) { %>
                                                        <li class="list-group-item">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox"
                                                                    value="<%= option.name %>" id="<%= option.id %>">
                                                                <label class="form-check-label" for="<%= option.id %>">
                                                                    <%= option.name %>
                                                                        <% if (option.price) { %>
                                                                            <span class="badge bg-secondary">$
                                                                                <%= Number(option.price).toFixed(2) %>
                                                                            </span>
                                                                            <% } %>
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <% } %>
                                                </ul>
                                                <% } %>
                                                    <div class="accordion-content">
                                                        <h5 class="text-white">Allergy:</h5>
                                                        <div class="accordion-item">
                                                            <h3 class="accordion-header"
                                                                id="allergyHeading<%= itemIndex %>">
                                                                <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#allergyCollapse<%= itemIndex %>"
                                                                    aria-expanded="true"
                                                                    aria-controls="allergyCollapse<%= itemIndex %>">
                                                                    Allergy
                                                                </button>
                                                            </h3>
                                                            <div id="allergyCollapse<%= itemIndex %>"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="allergyHeading<%= itemIndex %>">
                                                                <div class="accordion-body">
                                                                    <select class="form-select"
                                                                        id="allergyDropdown<%= itemIndex %>">
                                                                        <option value="Peanuts">Peanuts</option>
                                                                        <option value="Gluten">Gluten</option>
                                                                        <option value="Dairy">Dairy</option>
                                                                        <option value="Shellfish">Shellfish</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-content">
                                                        <h5 class="text-white">Special Request:</h5>
                                                        <div class="accordion-item">
                                                            <h3 class="accordion-header"
                                                                id="specialRequestHeading<%= itemIndex %>">
                                                                <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#specialRequestCollapse<%= itemIndex %>"
                                                                    aria-expanded="true"
                                                                    aria-controls="specialRequestCollapse<%= itemIndex %>">
                                                                    Special Request
                                                                </button>
                                                            </h3>
                                                            <div id="specialRequestCollapse<%= itemIndex %>"
                                                                class="accordion-collapse collapse"
                                                                aria-labelledby="specialRequestHeading<%= itemIndex %>">
                                                                <div class="accordion-body">
                                                                    <textarea class="form-control"
                                                                        id="specialRequest<%= itemIndex %>"
                                                                        rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary mt-3"
                                                        onclick="addToOrder(<%= itemIndex %>, '<%= item.id %>')">Add to
                                                        Order</button>
                                        </div>
                                    </div>
                                    <% if (index < menuHeaders.length - 1) { %>

                                        <% } %>
                                            <% } %>
                                                <% } %>
                        </div>
                    </div>
                    <br>
                    <hr class="section-divider">
                    <% } %>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your Order</span>
                <span class="badge bg-primary rounded-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{{menuItem.name}}</h6>
                        <small class="text-body-secondary">{{menuItem.description}}</small>
                    </div>
                    <span class="text-body-secondary">${{menuItem.price}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                    <div class="text-success">
                        <h6 class="my-0">Tip</h6>
                        <small>{{tip}}</small>
                    </div>
                    <span class="text-success">+$ {{tip}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong id="total-amount">${{menuItem.price}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>


<script>
    var orderId;

    <% if (typeof order !== 'undefined') { %>
        orderId = <%= order.id %>;
    <% } %>

        // Function to toggle the accordion content
        function toggleAccordionContent(id) {
            const content = document.getElementById(id);
            content.classList.toggle('show');
        }

    async function addToOrder(index, itemId) {
        // Get the selected options
        var selectedOptions = [];
        var optionCheckboxes = document.querySelectorAll('#collapse' + index + ' input[type="checkbox"]:checked');
        optionCheckboxes.forEach(function (checkbox) {
            selectedOptions.push(checkbox.value);
        });

        // Get the selected allergy options
        var selectedAllergies = [];
        var allergyCheckboxes = document.querySelectorAll('#allergyCollapse' + index + ' input[type="checkbox"]:checked');
        allergyCheckboxes.forEach(function (checkbox) {
            selectedAllergies.push(checkbox.value);
        });

        // Get the special request
        var specialRequestTextarea = document.getElementById('specialRequest' + index);
        var specialRequest = specialRequestTextarea.value;

        // Add the order item to the current order
        try {
            const response = await fetch(`/api/customer/order/item?orderId=${orderId}`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({
                    itemId: itemId,
                    options: selectedOptions,
                    allergies: selectedAllergies.join(','),
                    request: specialRequest
                })
            });

            if (response.ok) {
                // Display a success message
                alert('Item added to the order!');
            } else {
                alert('Failed to add item to the order!');
                let errorResponse = await response.json();
                errorResponse.status = response.status;
                console.error('Failed to add item to the order!', errorResponse);
            }
        } catch (error) {
            alert('Error adding item to the order!');
            console.error('Error adding item to the order!', error);
        }
    }
</script>