<div class="container-fluid justify-content-lg-start bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1 id="menu">Menu</h1>
            <div class="accordion" id="menuAccordion">
                <!-- Lunch Menu -->
                <h2 class="accordion-header" id="lunchMenuHeader">
                    <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#lunchMenuCollapse" aria-expanded="true" aria-controls="lunchMenuCollapse">
                        Lunch Menu
                    </button>
                </h2>
                <div id="lunchMenuCollapse" class="accordion-collapse collapse" aria-labelledby="lunchMenuHeader"
                    data-bs-parent="#menuAccordion">
                    <% for (const [index, item] of menuItems.entries()) { %>
                        <% if (item.categoryId==='lunch' ) { %>
                            <div class="accordion-item">
                                <!-- Item details -->
                                <h2 class="accordion-header" id="heading<%= index %>">
                                    <button class="accordion-button collapsed text-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>"
                                        aria-expanded="true" aria-controls="collapse<%= index %>">
                                        <%= item.name %>
                                            <span class="badge bg-primary">$<%= Number(item.price).toFixed(2) %></span>
                                    </button>
                                </h2>
                                <div id="collapse<%= index %>" class="accordion-collapse collapse"
                                    aria-labelledby="heading<%= index %>" data-bs-parent="#lunchMenuCollapse">
                                    <% if (item.options.length> 0) { %>
                                        <h5 class="text-white">Select Options:</h5>
                                        <ul class="list-group">
                                            <% for (const option of item.options) { %>
                                                <li class="list-group-item">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                            value="<%= option.name %>" id="<%= option.id %>">
                                                        <label class="form-check-label" for="<%= option.id %>">
                                                            <%= option.name %>
                                                                <% if (option.price) { %>
                                                                    <span class="badge bg-secondary">$
                                                                        <%= Number(option.price).toFixed(2) %>
                                                                    </span>
                                                                    <% } %>
                                                        </label>
                                                    </div>
                                                </li>
                                                <% } %>
                                        </ul>
                                        <% } %>
                                            <div class="accordion" id="allergyAccordion<%= index %>">
                                                <h5>Select Allergy:</h5>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="allergyHeading<%= index %>">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#allergyCollapse<%= index %>"
                                                            aria-expanded="true"
                                                            aria-controls="allergyCollapse<%= index %>">
                                                            Allergy
                                                        </button>
                                                    </h2>
                                                    <div id="allergyCollapse<%= index %>"
                                                        class="accordion-collapse collapse"
                                                        aria-labelledby="allergyHeading<%= index %>"
                                                        data-bs-parent="#allergyAccordion<%= index %>">
                                                        <div class="accordion-body">
                                                            <select class="form-select"
                                                                id="allergyDropdown<%= index %>">
                                                                <option value="Peanuts">Peanuts</option>
                                                                <option value="Gluten">Gluten</option>
                                                                <option value="Dairy">Dairy</option>
                                                                <option value="Shellfish">Shellfish</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion" id="specialRequestAccordion<%= index %>">
                                                <h5>Special Request:</h5>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="specialRequestHeading<%= index %>">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#specialRequestCollapse<%= index %>"
                                                            aria-expanded="true"
                                                            aria-controls="specialRequestCollapse<%= index %>">
                                                            Special Request
                                                        </button>
                                                    </h2>
                                                    <div id="specialRequestCollapse<%= index %>"
                                                        class="accordion-collapse collapse"
                                                        aria-labelledby="specialRequestHeading<%= index %>"
                                                        data-bs-parent="#specialRequestAccordion<%= index %>">
                                                        <div class="accordion-body">
                                                            <textarea class="form-control"
                                                                id="specialRequest<%= index %>" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary mt-3"
                                                onclick="addToOrder(<%= index %>, '<%= item.id %>')">Add to
                                                Order</button>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
                <!-- End of Lunch Menu -->
            </div>
        </div>
    </div>
</div>
<hr class="section-divider">
<div class="container-fluid justify-content-lg-start bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1 id="menu">Menu</h1>
            <div class="accordion" id="menuAccordion">
                <!-- Dinner Menu -->
                <h2 class="accordion-header" id="dinnerMenuHeader">
                    <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#dinnerMenuCollapse" aria-expanded="true" aria-controls="dinnerMenuCollapse">
                        Dinner Menu
                    </button>
                </h2>
                <div id="dinnerMenuCollapse" class="accordion-collapse collapse" aria-labelledby="dinnerMenuHeader"
                    data-bs-parent="#menuAccordion">
                    <% for (const [index, item] of menuItems.entries()) { %>
                        <% if (item.categoryId==='dinner' ) { %>
                            <div class="accordion-item">
                                <!-- Item details -->
                                <h2 class="accordion-header" id="heading<%= index %>">
                                    <button class="accordion-button collapsed text-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>"
                                        aria-expanded="true" aria-controls="collapse<%= index %>">
                                        <%= item.name %>
                                            <span class="badge bg-primary">$<%= Number(item.price).toFixed(2) %></span>
                                    </button>
                                </h2>
                                <div id="collapse<%= index %>" class="accordion-collapse collapse"
                                    aria-labelledby="heading<%= index %>" data-bs-parent="#dinnerMenuCollapse">
                                    <% if (item.options.length> 0) { %>
                                        <h5 class="text-white">Select Options:</h5>
                                        <ul class="list-group">
                                            <% for (const option of item.options) { %>
                                                <li class="list-group-item">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                            value="<%= option.name %>" id="<%= option.id %>">
                                                        <label class="form-check-label" for="<%= option.id %>">
                                                            <%= option.name %>
                                                                <% if (option.price) { %>
                                                                    <span class="badge bg-secondary">$
                                                                        <%= Number(option.price).toFixed(2) %>
                                                                    </span>
                                                                    <% } %>
                                                        </label>
                                                    </div>
                                                </li>
                                                <% } %>
                                        </ul>
                                        <% } %>
                                            <div class="accordion" id="allergyAccordion<%= index %>">
                                                <h5>Select Allergy:</h5>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="allergyHeading<%= index %>">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#allergyCollapse<%= index %>"
                                                            aria-expanded="true"
                                                            aria-controls="allergyCollapse<%= index %>">
                                                            Allergy
                                                        </button>
                                                    </h2>
                                                    <div id="allergyCollapse<%= index %>"
                                                        class="accordion-collapse collapse"
                                                        aria-labelledby="allergyHeading<%= index %>"
                                                        data-bs-parent="#allergyAccordion<%= index %>">
                                                        <div class="accordion-body">
                                                            <select class="form-select"
                                                                id="allergyDropdown<%= index %>">
                                                                <option value="Peanuts">Peanuts</option>
                                                                <option value="Gluten">Gluten</option>
                                                                <option value="Dairy">Dairy</option>
                                                                <option value="Shellfish">Shellfish</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion" id="specialRequestAccordion<%= index %>">
                                                <h5>Special Request:</h5>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="specialRequestHeading<%= index %>">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#specialRequestCollapse<%= index %>"
                                                            aria-expanded="true"
                                                            aria-controls="specialRequestCollapse<%= index %>">
                                                            Special Request
                                                        </button>
                                                    </h2>
                                                    <div id="specialRequestCollapse<%= index %>"
                                                        class="accordion-collapse collapse"
                                                        aria-labelledby="specialRequestHeading<%= index %>"
                                                        data-bs-parent="#specialRequestAccordion<%= index %>">
                                                        <div class="accordion-body">
                                                            <textarea class="form-control"
                                                                id="specialRequest<%= index %>" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary mt-3"
                                                onclick="addToOrder(<%= index %>, '<%= item.id %>')">Add to
                                                Order</button>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
                <!-- End of Dinner Menu -->
            </div>
        </div>
    </div>
</div>
<hr class="section-divider">
<div class="container-fluid justify-content-lg-start bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <h1 id="menu">Menu</h1>
            <div class="accordion" id="menuAccordion">
                <!-- Drink Menu -->
                <h2 class="accordion-header" id="drinkMenuHeader">
                    <button class="accordion-button collapsed text-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#drinkMenuCollapse" aria-expanded="true" aria-controls="drinkMenuCollapse">
                        Drink Menu
                    </button>
                </h2>
                <div id="drinkMenuCollapse" class="accordion-collapse collapse" aria-labelledby="drinkMenuHeader"
                    data-bs-parent="#menuAccordion">
                    <% for (const [index, item] of menuItems.entries()) { %>
                        <% if (item.categoryId==='drink' ) { %>
                            <div class="accordion-item">
                                <!-- Item details -->
                                <h2 class="accordion-header" id="heading<%= index %>">
                                    <button class="accordion-button collapsed text-dark" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>"
                                        aria-expanded="true" aria-controls="collapse<%= index %>">
                                        <%= item.name %>
                                            <span class="badge bg-primary">$<%= Number(item.price).toFixed(2) %></span>
                                    </button>
                                </h2>
                                <div id="collapse<%= index %>" class="accordion-collapse collapse"
                                    aria-labelledby="heading<%= index %>" data-bs-parent="#drinkMenuCollapse">
                                    <% if (item.options.length> 0) { %>
                                        <h5 class="text-white">Select Options:</h5>
                                        <ul class="list-group">
                                            <% for (const option of item.options) { %>
                                                <li class="list-group-item">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                            value="<%= option.name %>" id="<%= option.id %>">
                                                        <label class="form-check-label" for="<%= option.id %>">
                                                            <%= option.name %>
                                                                <% if (option.price) { %>
                                                                    <span class="badge bg-secondary">$
                                                                        <%= Number(option.price).toFixed(2) %>
                                                                    </span>
                                                                    <% } %>
                                                        </label>
                                                    </div>
                                                </li>
                                                <% } %>
                                        </ul>
                                        <% } %>
                                            <div class="accordion" id="allergyAccordion<%= index %>">
                                                <h5>Select Allergy:</h5>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="allergyHeading<%= index %>">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#allergyCollapse<%= index %>"
                                                            aria-expanded="true"
                                                            aria-controls="allergyCollapse<%= index %>">
                                                            Allergy
                                                        </button>
                                                    </h2>
                                                    <div id="allergyCollapse<%= index %>"
                                                        class="accordion-collapse collapse"
                                                        aria-labelledby="allergyHeading<%= index %>"
                                                        data-bs-parent="#allergyAccordion<%= index %>">
                                                        <div class="accordion-body">
                                                            <select class="form-select"
                                                                id="allergyDropdown<%= index %>">
                                                                <option value="Peanuts">Peanuts</option>
                                                                <option value="Gluten">Gluten</option>
                                                                <option value="Dairy">Dairy</option>
                                                                <option value="Shellfish">Shellfish</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion" id="specialRequestAccordion<%= index %>">
                                                <h5>Special Request:</h5>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="specialRequestHeading<%= index %>">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#specialRequestCollapse<%= index %>"
                                                            aria-expanded="true"
                                                            aria-controls="specialRequestCollapse<%= index %>">
                                                            Special Request
                                                        </button>
                                                    </h2>
                                                    <div id="specialRequestCollapse<%= index %>"
                                                        class="accordion-collapse collapse"
                                                        aria-labelledby="specialRequestHeading<%= index %>"
                                                        data-bs-parent="#specialRequestAccordion<%= index %>">
                                                        <div class="accordion-body">
                                                            <textarea class="form-control"
                                                                id="specialRequest<%= index %>" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary mt-3"
                                                onclick="addToOrder(<%= index %>, '<%= item.id %>')">Add to
                                                Order</button>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
                <!-- End of Drink Menu -->
            </div>
        </div>
    </div>
</div>
<script>
    if (typeof orderId === 'undefined') var orderId = <%= (typeof order !== 'undefined' ? order.id : -1) %>;
    async function addToOrder(index, itemId) {
        // Get the selected options
        var selectedOptions = [];
        var optionCheckboxes = document.querySelectorAll(
            '#collapse' + index + ' input[type="checkbox"]:checked'
        );
        optionCheckboxes.forEach(function (checkbox) {
            selectedOptions.push(checkbox.value);
        });

        // Get the selected allergy options
        var selectedAllergies = [];
        var allergyCheckboxes = document.querySelectorAll(
            '#allergyCollapse' + index + ' input[type="checkbox"]:checked'
        );
        allergyCheckboxes.forEach(function (checkbox) {
            selectedAllergies.push(checkbox.value);
        });

        // Get the special request
        var specialRequestTextarea = document.getElementById('specialRequest' + index);
        var specialRequest = specialRequestTextarea.value;

        // Add the order item to the current order
        try {
            const response = await fetch(`/api/customer/order/item?orderId=${orderId}`, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({
                    itemId: itemId,
                    options: selectedOptions,
                    allergies: selectedAllergies.join(','),
                    request: specialRequest
                })
            });

            if (response.ok) {
                // Display a success message
                alert('Item added to the order!');
            } else {
                alert('Failed to add item to the order!');
                let errorResponse = await response.json();
                errorResponse.status = response.status;
                console.error('Failed to add item to the order!', errorResponse);
            }
        } catch (error) {
            alert('Error adding item to the order!');
            console.error('Error adding item to the order!', error);
        }
    }
</script>