<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant order</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .order {
            margin-top: 20px;
        }

        .order-item {
            margin-bottom: 10px;
        }

        .item-info {
            list-style-type: none;
        }

        .total-cost {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-md-4 order-container">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <h1>Restaurant order</h1>
                <span class="badge bg-primary rounded-pill"><%= orderItems.length %></span>
            </h4>
        </div>
        <div class="order">
            <% if (orderItems.length > 0) { %>
                <% orderItems.forEach(function(item) { %>
                    <div class="order-item">
                        <h4>
                            <%= menuItems[item.itemId].name %>
                        </h4>
                        <ul class="item-info">
                            <li>Count: <%= item.count %>
                            </li>
                            <li>Price: $<%= menuItems[item.itemId].price %>
                            </li>
                        </ul>
                    </div>
                <% }) %>
                <div class="total-cost">
                    Total Cost: $<%= orderItems.reduce((sum, item) => sum + item.count * menuItems[item.itemId].price, 0) %>
                </div>
            <% } else { %>
                <p>No items in the order.</p>
            <% } %>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>